<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h1 class="h2">Lista de Estudantes</h1>
    <a routerLink="/registro-estudante" class="btn btn-success" *ngIf="hideWhenNoEstudante">
        <i class="fas fa-plus custom-fa-plus"></i>Novo Estudante</a>
</div>

<div class="pricing-header mx-auto">

    <div class="no-data text-center" *ngIf="preLoader">
        <img src="assets/preloader.gif" class="preloader-icon" alt="Sem Estudante">
    </div>

    <div class="no-data text-center" *ngIf="noData">
        <img src="assets/no-student.svg" class="noData-msg" alt="Sem Estudante">
        <p class="nodata-msg">Nenhum estudante adicionado ainda!</p>
        <a routerLink="/registro-estudante" class="btn btn-success"><i class="fas fa-plus custom-fa-plus"></i>Novo Estudante</a>
    </div>

    <!--Tabela de Estudantes-->
    <div class="table-reponsive" *ngIf="hideWhenNoEstudante">
        <table class="table table-bordered table-reponsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Estudande ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefone</th>
                    <th class="text-center" scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudante of Estudante | paginate: { itemsPerPage: 7,  currentPage: p }; let i = index;">
                    <th scope="row">{{estudante.$key}}</th>
                    <td>{{estudante.nome}} {{estudante.sobrenome}}</td>
                    <td>{{estudante.email}}</td>
                    <td>{{estudante.telefone}}</td>
                    <td class="text-center action-block">
                        <i class="far fa-edit" routerLink="/edit-estudante/{{estudante.$key}}"></i>
                        <i class="far fa-trash-alt" (click)="deleteEstudante(estudante)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>