<nav class="navbar navbar-dark fixed-top-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 routerLink=/registro-estudante">
        <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
        <span class="dashboard-txt">Dashboard</span>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" routerLink="/registro-estudante">
                <span class="user-image" style="background-image: url('assets/user.jpg')"></span>Olá Admin
            </a>
        </li>
    </ul>
</nav>
<!---- Barra Lateral -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-ligth sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/registro-estudante" routerLinkActive="active">
                            <i class="fas fa-plus"></i>Novo Estudante
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-estudantes" routerLinkActive="active">
                            <i class="fas fa-list-ul"></i>Lista de Estudantes
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Content Principal-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
                <router-outlet></router-outlet>
                <footer>
                    <a href="https://www.positronx.io/learn-free-full-stack-software-development/" title="Learn Free Full Stack Software Development"></a>
                </footer>
            </div>
        </main>
    </div>
</div>